In [7]:
friratname = 'Non'
lastname = 'Ny'
age_full = 'i \'am 17 years old.'
print ('My name ',friratname + '.')
print ('My Last name ',lastname + '.')
print (age_full)

My name  Non.
My Last name  Ny.
i 'am 17 years old.

In [13]:
c = d = a = 5
print (c)
print ('c=',c )

5
c= 5

In [15]:
f=5;d=6;h=8
print('f=',f)
print('d=',d)
print('h=',h)

f= 5
d= 6
h= 8

In [18]:
_a =5
a1 =5
lastname = 'Hoog'
print (lastname)

Hoog

In [23]:
a = False
type (a)

bool

In [39]:
charl = "hello wold"
type (charl)
charl[3]
charl[5:]

' wold'

In [42]:
charl2 = "stamp"
charl2.replace('tamp','tun')

'stun'

In [44]:
charl3 = 'egheoghpewtuhet9685p389thefogffd'
len(charl3)
'fon'in charl3

False

In [49]:
charl4 = '31-ตุลาคม-2565'
day = charl4.split('-')
print(day[2])

2565

In [1]:
#list
list1 = [1,2,3,4,5]
type (list1)
list1[3] = 8
list1[3]
list1.append(6)
list1

[1, 2, 3, 8, 5, 6]

In [2]:
list2 =['a','b','c','d','e']
list2

['a', 'b', 'c', 'd', 'e']

In [3]:
list1.extend(list2)
list1

[1, 2, 3, 8, 5, 6, 'a', 'b', 'c', 'd', 'e']

In [4]:
del list1[4]
list1

[1, 2, 3, 8, 6, 'a', 'b', 'c', 'd', 'e']

In [79]:
list1.clear()
list1

[]